#image-container {
    display: flex;
    justify-content: space-between;
}

#github-info {
    margin: 2rem !important;
}

.image-card {
    /* height: 300px;
    width: 400px; */
    object-fit: contain;
    /* margin: 0 2rem 0 2rem; */
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 3rem !important;
    grid-gap: 4rem;
}

.form{
    display: flex;
    gap: 1rem;
}

.form-container {
    display: flex;
    /* margin: 5rem; */
    justify-content: center;
    align-items: center;
    height: 200px !important;
    width: 100%;
    /* border: 2px solid red; */
}