body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  margin: 20px 20px;
  grid-gap: 3px;
  /* border: 2px solid #000; */
}

.grid div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid green;
}

.icon {
  color: tomato;
}